
body {
	margin: 0;
	padding: 0;
	width: 100%;
}

.header {
	font-family: Arizonia;
	font-weight: bold;
	color: #fd8383;
	padding: 20;
}

.header-background {
	background-color: #082a78;
	width: 100%;
}