
body {
	margin: 0;
	padding: 0;
	width: 100%;
}

.header_container {
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.header_background {
	background-color: #000080;
	width: 100%;
	padding-top: 10;
	padding-bottom: 5;
	float: left;
}

.header {
	font-family: 'Great Vibes', Helvetica, sans-serif;
	font-weight: bold;
	font-size: 35;
	color: #ff7f50;
	margin: 0;
	padding-top: 20;
	padding-left: 20;
	padding-right: 20;
	padding-bottom: 5;
	text-shadow: 4px 4px 3px rgba(0,0,0,1);
	text-decoration: none;
}

.header_button_background {
	background-color: #000080;
	width: 100%;
	float: left;
}

.header_button {
	width: 20%;
	min-width: 110;
	float: left;
	padding: 10;
	text-align: center;
	cursor: pointer;
}

.header_button_divider {
	width: 2px;
	background-image: linear-gradient(#000080, #ff7f50);
	float: left;
	height: 43px;
}

.header_button_selected {
	background-color: #40e0d0;
	width: 100;
	float: left;
	padding: 10;
	text-align: center;
}

.header_button_selected_fade {
	background-image: linear-gradient(#000080, #40e0d0);
	width: 100;
	float: left;
	padding: 10;
	text-align: center;
}

.header_button_selected_light {
	background: rgba(64,224,208,0.5);
	border-bottom: 5px solid #40e0d0;
	width: 20%;
	float: left;
	padding: 10;
	text-align: center;
}

.header_button_text {
	color: #ff7f50;
	text-shadow: 4px 4px 3px rgba(0,0,0,1);
	text-align: center;
	text-decoration: none;
}

.header_user_login_out {
	color: #ff7f50;
	float: right;
	margin-right: 20px;
}

.her_story {
	overflow-wrap: break-word;
	background: rgba(255,127,80,0.8);
	border: 2px solid #ff7f50;
	border-radius: 20px;
}

.his_story {
	overflow-wrap: break-word;
	background: rgba(64,224,208,0.8);
	border: 2px solid #40e0d0;
	border-radius: 20px;
}

.paragraph_story {
	margin: 20px;
	text-indent: 20px;
}

.story_image {
	width: 40%;
	height: auto;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto
}

.email_input {
	width: 200;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	display: block;
	position: relative;
	padding: 5;
	margin: 10 auto;
}

.name_input{
	width: 200;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 5;
	margin: 10 auto;
	display: none;
}

.email_submit {
	width: 100;
	text-align: center;
	margin: 5 auto;
	background-color: #40e0d0;
	position: relative;
	display: block;
	padding: 8;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.email_form_div {
	text-align: -webkit-center;
}

.email_form {
	text-align: center;
	width: 350;
	border-radius: 4px;
	background-color: #ff7f50;
	opacity: 0.5;
	padding: 1px;
}

.header_empty_div {
	width: 100%;
	height: 10%;
}

.title {
	text-align: center;
	margin: 8px;
}

.under_header {
	height: 100%;
	float: left;
	width: 100%;
}

.index_background_div {
	background-image: url("sandy-109-b-w.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	position: absolute;
	height: 90%;
	min-height: 90%;
	overflow: hidden;
}

.about_us_background_div {
	background-image: url("future_mrs_cropped_blurred.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	position: absolute;
	height: 90%;
	min-height: 90%;
	overflow: hidden;
}


