
body {
	margin: 0;
	padding: 0;
	width: 100%;
}

.header-container {
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.header-background {
	background-color: #000080;
	width: 100%;
	padding-top: 10;
	padding-bottom: 5;
	float: left;
}

.header {
	font-family: 'Great Vibes', Helvetica, sans-serif;
	font-weight: bold;
	font-size: 35;
	color: #ff7f50;
	margin: 0;
	padding-top: 20;
	padding-left: 20;
	padding-right: 20;
	padding-bottom: 5;
	text-shadow: 4px 4px 3px rgba(0,0,0,1);
	text-decoration: none;
}

.header-button-background {
	background-color: #000080;
	width: 100%;
	float: left;
}

.header-button {
	width: 10%;
	min-width: 50;
	float: left;
	padding: 10;
	text-align: center;
}

.header-button-selected {
	background-color: #40e0d0;
	width: 100;
	float: left;
	padding: 10;
	text-align: center;
}

.header-button-selected-fade {
	background-image: linear-gradient(#000080, #40e0d0);
	width: 100;
	float: left;
	padding: 10;
	text-align: center;
}

.header-button-selected-light {
	background: rgba(64,224,208,0.5);
	border-bottom: 5px solid #40e0d0;
	width: 100;
	float: left;
	padding: 10;
	text-align: center;
}

.header-button-text {
	color: #ff7f50;
	text-shadow: 4px 4px 3px rgba(0,0,0,1);
	text-align: center;
	text-decoration: none;
}

.email-input {
	width: 200;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 5;
	opacity: 0.8;
}

.email-submit {
	width: 100;
	text-align: center;
	margin: 5;
	background-color: #40e0d0;
	padding: 8;
	border: none;
	border-radius: 4px;
	opacity: 0.8;
}

.email-form-div {
	text-align: -webkit-center;
}

.email-form {
	text-align: center;
	width: 350;
	border-radius: 4px;
	background-color: #ff7f50;
	opacity: 0.5;
}

.header-empty-div {
	width: 100%;
	height: 10%;
}

.under-header {
	height: 100%;
	float: left;
	width: 100%;
}

.background-div {
	background-image: url("sandy-109-b-w.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	height: 100%;
	min-height: 90%;
	overflow: hidden;
}




